body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #EBD8FF;
}
p{
  margin: 0px;
}
code {
  font-family: 'Montserrat', sans-serif;
}
